/*
font-family: 'Baumans', cursive;
font-family: 'Lora', serif;
*/


/* Global */

/* For all pages */




:root {
    --main-bg-color: white;
    --secondary-bg-color: black;

    /* splitkomplimentære farver */
    --split-turquoise-color: #11505D;
    --split-red-color: #AA4F4F;
    --split-orange-color: #D89C7E;


}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}

p {
    font-size: 18px;
}

button {
    padding: 15px 40px;
    font-weight: 700;
    font-size: 18px;
    /* denne farve er 100% gennemsigtig*/
    background-color: hsla(290, 60%, 100%, 0);
}


button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}


body {
    margin: 0;
    background: var(--main-bg-color);
    font-family: 'Comfortaa', cursive;

}

.hide {
    display: none;
}

.col_container {
    display: flex;
}

.col {
    flex-grow: 1;
    flex-basis: 1px;
    margin: 0 30px;
}

.hide {
    display: none;
}

.margin_15 {
    margin: 0 15%;
}

/* Navigation */

/* Top menu */

ul {
    padding: 0;
    margin: 0;
    margin-bottom: -6px;

    display: flex;
    background-color: var(--secondary-bg-color);
}

li {
    display: inline-block;
    margin-top: 56px;
    margin-right: 20px;
    margin-bottom: 16px;
    font-size: 20px;

}

li img {
    margin-top: -56px;
    margin-bottom: -16px;
    width: 250px;
}

.burger_icon {
    display: none;
}

/* Dropdown menu eksempel er taget herfra: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover og tilpasset med ændringer */

.menu_item {
    text-decoration: none;
    padding: 15px;
    color: var(--main-bg-color);
}

.menu_item:hover {
    color: var(--main-bg-color);
    background-color: var(--split-red-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-bg-color);
    min-width: 140px;
    margin-top: 9px;
    box-shadow: none;
    z-index: 5;
}

.dropdown-content a {
    color: var(--main-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--split-red-color);
    color: var(--main-bg-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Forsiden */

/* Video og videotekst */

#bg_video_section {
    margin-bottom: 12.5%;
    position: relative;
    z-index: 2;
}

#bg_video {
    width: 100%;

}

#front_text_video_section {
    position: relative;
    margin-top: -25%;
    margin-left: 10%;
    font-size: 10vw;
    color: white;
}

#front_text_small_video_section {
    position: relative;
    margin-top: -10%;
    margin-left: 41.5%;
    font-size: 1.1vw;
    color: white;
}

/* generelt for alle sektionerne på forsiden */

.col_big {
    flex-grow: 2;
    flex-basis: 1px;
}

.section_frontpage {
    padding: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 44vw;
}

.section_frontpage .col {
    margin: 0;
}

.section_frontpage p {
    font-size: 22px;
}

.section_frontpage h2 {
    font-size: 3vw;
}

.frontpage_button {
    margin-top: 6vw;
}

/* første sektion */

#first_section_frontpage {
    text-align: right;
    position: relative;
    z-index: 5;
    color: var(--main-bg-color);
    /*
    vmin
    vmax
    */
}

#swipeimages_container {
    width: calc(100% - 60px);
    margin-right: 60px;
    height: 35vw;
    overflow: hidden;
    box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.36);
}

.swipeimg_container {
    width: 100%;
    height: 40vw;
    background-position: center;
    background-size: cover;
}

#svipeimg_container5 {
    background-position: top;
}

.swipe_img {
    padding: 0;
    margin: 0;
}

#dot_container {
    display: flex;
    justify-content: center;
}

#dot_section {
    display: flex;
    margin-top: 20px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    margin: 5px;

}


#first_section_frontpage #dot_container .dot:hover {
    background-color: var(--split-turquoise-color) !important;
    cursor: pointer;

}

#first_section_frontpage button {
    border: 2px solid var(--main-bg-color);
    color: var(--main-bg-color);
}

#first_section_frontpage button:hover {
    color: var(--split-red-color);
    background-color: var(--main-bg-color);
}

#second_section_frontpage {
    overflow-y: visible;
    position: relative;
    z-index: 4;
    margin-top: -9vw;
    padding-top: 15vw;
    padding-bottom: 7vw;
    color: var(--split-turquoise-color);

    /*
    vmin
    vmax

    */
}

#second_section_frontpage button {
    border: 2px solid var(--split-turquoise-color);
    color: var(--split-turquoise-color);
}

#second_section_frontpage button:hover {
    color: var(--main-bg-color);
    background-color: var(--split-turquoise-color);
}

#second_section_frontpage .col_big {
    margin-left: 15%;
}


#frontpage_between_sections_img {
    position: relative;
    z-index: 1;
    margin-top: -5%;
}

#third_section_frontpage {
    overflow-y: visible;
    position: relative;
    text-align: right;
    z-index: 1;
    margin-top: -6vw;
    padding-top: 12vw;
    padding-bottom: 12vw;
    color: var(--split-orange-color);
    /*
    vmin
    vmax

    */
}

#third_section_frontpage button {
    border: 2px solid var(--split-orange-color);
    color: var(--split-orange-color);
    margin-top: 21vw;
    margin-bottom: 6vw;
}

#third_section_frontpage button:hover {
    color: var(--main-bg-color);
    background-color: var(--split-orange-color);
}

#third_section_frontpage .col_big {
    margin-right: 15%;
}

#fourth_section_frontpage {
    overflow-y: visible;
    position: relative;
    z-index: 1;
    margin-top: 10vw;
    padding-top: 14vw;
    padding-bottom: 0vw;
    color: var(--split-red-color);
    height: 34vw;
    /*
    vmin
    vmax

    */
}

#fourth_section_frontpage button {
    border: 2px solid var(--split-red-color);
    color: var(--split-red-color);
}

#fourth_section_frontpage button:hover {
    color: var(--main-bg-color);
    background-color: var(--split-red-color);
}

#fourth_section_frontpage .col_big {
    margin-left: 15%;
    width: 85%;
}

/* statisk billede */

#static_image_container {
    position: fixed;
    background-color: var(--secondary-bg-color);
    width: 100%;

}

#static_image {
    /*position: fixed; */
    margin-left: 20%;
    width: 60%;

}

/* Kunst side */

.section_art {
    color: var(--main-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;

}

.art_item_img_container {
    box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.36);
}

.art_item_img_container:hover {
    animation: zoomIn 0.25s ease-in-out;
    cursor: pointer;
    background-size: 105%;
}

@keyframes zoomIn {
    from {
        background-size: 100%;
    }

    to {
        background-size: 105%;
    }
}

.art_h2,
.art_p {
    margin: 0 10%;
}

.art_h2 {
    font-size: 48px;
}

.art_p {
    font-size: 22px;
    margin-top: 0.5%;
    margin-right: 55%;
}


#first_section_art .art_h2 {
    margin-top: 16px;
}

#second_section_art .art_h2 {
    margin-top: 35px;
}

#third_section_art .art_h2 {
    margin-top: 25px;
}

#first_section_art {
    margin-top: 0%;
}

#second_section_art {
    text-align: right;
    padding-top: 0%;
    margin-top: 10%;
    background-position: 100%;
    height: 230px;
}

#second_section_art .art_p {
    margin-right: 10%;
    margin-left: 55%;
}

#third_section_art {
    padding-top: 0%;
    margin-top: 10%;
}

/* Kunsten på kunstsiden */

.art_list {
    margin-top: 5%;
    margin-bottom: -5%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-gap: 3%;
    grid-row-gap: 5%;
    grid-template-columns: repeat(3, 1fr);

}

#art_bronze_list {
    margin-bottom: 50px;
}

.art_item_img_container {
    height: 300px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.art_item_headline {
    margin-top: 6px;
    margin-left: 25px;
    color: var(--secondary-bg-color);
}

/* Detail visning her kaldet art_single */

#art_single_section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vw;
    color: var(--main-bg-color);
    position: relative;
    z-index: 2;
}

.art_single_img {
    margin: 2% 15% 0%;
    width: 70%;
}

#art_single_section .col_container {
    margin: 2% 15%;
    width: 70%;
}

#art_single_section h6 {
    padding: 3px 0;
    text-align: center;
    font-size: 18px;
    margin: 0;
}

#art_single_section h2 {
    font-size: 32px;
    padding: 2% 15% 0%;
}

/* for at få billederne til at ligne masonry (murværk) anvendes columns. I modsætning til grid, så sætter columns ikke højden af rækken til det største element, men de kommer bare efter hinanden uafhængigt af andre højder. */
/* spørg hvordan de tre columns tildeles forskellige margin-top */
#art_single_list_section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(3, 1fr);
    */

    columns: 3;
    column-gap: 5%;



    padding-top: calc(2% + 170px);
    padding-left: 15%;
    padding-right: 15%;

    margin-top: -150px;
    padding-bottom: 50px;

}

.art_single_list_item {
    margin-bottom: 5%;
}

#mail_formular_container p {
    font-size: 22px;
}

input {
    width: 100%;
    border: 1px solid var(--secondary-bg-color);
    background-color: hsla(290, 60%, 100%, 0);
}

textarea {
    width: 100%;
    height: 200px;
    border: 1px solid var(--secondary-bg-color);
    background-color: hsla(290, 60%, 100%, 0);
}

#send_email_button {
    color: var(--split-orange-color);
    border: 1px solid var(--split-orange-color);
    width: inherit;
    font-family: 'Baumans', cursive;
    padding: 15px 40px;
    font-weight: 700;
    font-size: 18px;
    /* denne farve er 100% gennemsigtig*/
    background-color: hsla(290, 60%, 100%, 0);
    margin-bottom: 20px;
    margin-top: 20px;
}

#send_email_button:hover {
    background-color: var(--split-orange-color);
    color: var(--main-bg-color);
}

/* Om Jerry Adder */

#jerry_top_section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    height: 50vw;

}

.section_jerry {
    padding: 80px;
}

#jerry_h1 {
    position: absolute;
    left: 37%;
    top: 24%;
    font-size: 100px;
    margin: 0;
    color: var(--main-bg-color);
}

#jerry_subheadline {
    margin-top: 46%;
    font-size: 30px;
    color: var(--main-bg-color);
}

.jerry_h5 {
    font-size: 20px;
}

#jerry_h5_1 {
    margin-top: -9vw;
    width: 24vw;
    margin-left: 25%;
}

#jerry_h5_2 {
    margin-top: -10px;
    width: 24vw;
    margin-left: 25%;
}

#background_img_section_jerry {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10%;
    padding-top: 10%;
}

.section_jerry h2 {
    margin-top: 33%;
}

#first_jerry_section .col_big,
#third_jerry_section .col_big {
    margin-right: 15%;
}

#second_jerry_section .col_big {
    margin-left: 15%;
}

/* stenens rejse */

.stone_headline {
    margin: 4% 10%;
    font-size: 50px;
}

/* footer */

#footer {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color);
    position: relative;
    z-index: 2;
}

#footer_container {
    display: flex;
}

#col_some {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin: 0 25px;
    margin-top: 10px;

}

#footer .col img {
    width: 50%;
}

#footer .col {

    width: 450px;
    padding: 0;
    margin: 0 10%;
    padding-right: 25px;
    font-size: 14px;
    padding-bottom: 30px;
}

#footer a {
    margin-top: 10px;

    font-size: 18px;
}

/* Media queries */

/* Pc responsivitet */

@media screen and (max-width: 1500px) {

    /* forsiden */
    #third_section_frontpage button {
        margin-top: 10vw;
    }

    #front_text_small_video_section {
        position: relative;
        margin-top: -10%;
        margin-left: 10.5%;
        font-size: 16px;

    }

    #first_section_frontpage {
        margin-top: -15px;
    }

    /* kunstsiden */


    .art_item_img_container {
        height: 150px;
    }

    /* Detail visning */

    #art_single_section {
        height: 80vw;
    }

    /* Om Jerry Adder */
    #jerry_top_section {
        height: 40vw;

    }


    #jerry_subheadline {
        margin-top: 50%;
        font-size: 30px;
        color: var(--main-bg-color);
    }

    .jerry_h5 {
        font-size: 1.2vw;
    }


}

/* Pc responsivitet */

@media screen and (max-width: 1100px) {

    /* Forsiden */

    #third_section_frontpage button {
        margin-top: 12vw;
    }

    .section_frontpage {
        padding: 30px;
        background-repeat: no-repeat;
        background-size: cover;

    }


    .section_frontpage p {
        font-size: 18px;
    }

    .section_frontpage h2 {
        font-size: 28px;
    }

    .section_frontpage button {
        font-size: 16px;
        padding: 10px 20px;
    }

    /* kunstsiden */

    .section_art {
        height: 150px;
    }


    #first_section_art .art_h2 {
        margin-top: 16px;
    }

    #second_section_art .art_h2 {
        margin-top: 35px;
    }

    #third_section_art .art_h2 {
        margin-top: 25px;
    }

    .art_h2 {
        font-size: 28px;
    }

    .art_p {
        font-size: 15px;
    }

    .art_p {
        margin-right: 45%;
    }


    #second_section_art {
        text-align: right;
        height: 180px;
    }

    #second_section_art .art_p {
        margin-left: 30%;
    }

    /* Detail visning */

    #art_single_section {
        height: 90vw;
    }

    #art_single_section h6 {
        margin: 0;
        text-align: center;
        font-size: 14px;
    }

    #art_single_section h2 {
        font-size: 24px;
        margin: 0;
        margin-top: 20px;
        padding: 0 15% 0;
    }

    #art_single_section p {
        font-size: 16px;
        margin: 0;
    }

    /* Om Jerry Adder */

    #jerry_h1 {
        position: absolute;
        left: 37%;
        top: 24%;
        font-size: 60px;
        margin: 0;
        color: var(--main-bg-color);
    }

    #jerry_subheadline {
        font-size: 24px;
    }

    /* stenens rejse */
    .stone_headline {
        margin: 4% 10%;
        font-size: 30px;
    }

    /* Footer */
    #footer .col {

        width: 300px;
        padding: 0;
        margin: 0 5%;
        padding-bottom: 30px;
    }

    #footer p {
        margin-bottom: 0;
    }
}

/* Mellemvisning hvor detail visning går over til en kolonne */
@media screen and (max-width: 958px) {

    /* forside */
    #frontpage_between_sections_img {
        margin-top: -10%;
    }

    .col {
        margin: 0;
    }

    #swipeimages_container {
        width: 100%;
        margin-right: 0px;
        height: 40vw;
    }

    /* detail */
    #art_single_section {
        height: 100vw;
    }

    #art_single_section h6 {
        text-align: left;
        font-size: 14px;

    }

    .art_single_meassure {
        margin-top: 20px !important;
    }

    .art_single_img,
    #art_single_section .col_container {
        margin: 5% 5% 2%;
        width: 90%;
    }

    #art_single_section h2 {
        padding: 0% 5% 0%;
    }

    #art_single_list_section {

        padding-left: 5%;
        padding-right: 5%;
        columns: 1;
        padding-bottom: 100px;
    }

    #mail_formular_container p {
        font-size: 18px;
    }

    /* burgermenu */

    .burger_item {
        display: none;
    }

    ul {
        flex-direction: column;
    }

    li {
        padding: 10px;
        margin: 0;
        margin-bottom: 10px;
    }

    li img {
        margin-top: -10px;
        width: 120px;
    }

    .burger_icon {
        display: inline-block;
        position: absolute;
        left: 89%;
    }

    .burger_icon img {
        margin-top: 15px;
        margin-bottom: 0;
        width: 24px;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    .dropdown {
        width: 140px;
    }

    .dropdown-content {
        display: none;
    }

    #dropbtn1 {
        pointer-events: none;
        cursor: default;
    }

    .burger_item {
        margin: 0;
        margin-bottom: 16px;
        margin-top: 20px;
        text-align: center;
    }

    .dropdown-content {
        display: none;
        position: relative;
        text-align: center;
        background-color: var(--main-bg-color);
        width: 70%;
        margin-top: 9px;
        margin-left: 0px;
        margin-right: 0px;
        box-shadow: none;
    }

    .dropdown-content a {
        border-bottom: 1px solid var(--tertiary-bg-color);
        font-size: 12px;
    }

    #menu_item_contact {
        margin-bottom: 25px;
    }

    /* footer */

    #footer_container {
        display: grid;

    }

    #footer .col {
        width: calc(100% - 60px);
        padding: 0;
        margin: 0 30px;
        font-size: 12px;
    }


}

/* Mellemvisning hvor Om Jerry Adder går over til en kolonne */

@media screen and (max-width: 810px) {

    /* Om Jerry Adder */
    .section_jerry {
        padding: 30px;
    }

    #jerry_h1 {
        position: absolute;
        left: 57%;
        top: 34%;
        font-size: 50px;
    }

    #jerry_top_section {
        height: 105vw;

    }

    .section_jerry h2 {
        margin-top: 30px;
    }

    .jerry_h5 {
        font-size: 18px;
        font-size: 2.5vw;
    }

    #jerry_h5_1 {
        margin-top: -17vw;
        width: 65%;
    }

    #jerry_h5_2 {
        width: 65%;
    }

    #first_jerry_section .col_big,
    #third_jerry_section .col_big {
        margin-right: 0%;
    }

    #second_jerry_section .col_big {
        margin-left: 0%;
    }

    .jerry_headline {
        margin-top: 20px;
    }

    #jerry_subheadline {
        margin-top: 40px;
    }

}

/* Tablet responsivitet */

@media screen and (max-width: 768px) {

    /* forside */
    .col_container {
        flex-direction: column;
    }

    #first_section_frontpage .col,
    #third_section_frontpage .col {
        margin-left: 30%;
    }

    #second_section_frontpage .col,
    #fourth_section_frontpage .col {
        margin-right: 30%;
    }

    #second_section_frontpage button,
    #third_section_frontpage button,
    #fourth_section_frontpage button {
        margin: 10% 0;
    }

    #second_section_frontpage,
    #third_section_frontpage {
        margin-top: -10%;
    }

    .section_frontpage {
        height: 105vw;
    }

    #static_image {
        /*position: fixed; */
        width: 100%;
        margin: 0;

    }

    #first_section_frontpage {
        margin-top: -30px;
    }

    #second_section_frontpage {
        margin-top: -80px;
        padding-bottom: 100px;
    }

    #third_section_frontpage {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #fourth_section_frontpage {
        padding-top: 100px;
        height: 105vw;
    }

    /* kunst side */

    #first_section_art .art_p {
        margin-right: 30%;
    }

    #second_section_art .art_p {
        margin-left: 30%;
    }

    .art_list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .art_item_img_container {
        height: 200px;

    }


    /* detail visning */

    #art_single_section {
        height: 115vw;
    }
}

/* Mobil responsivitet */

@media screen and (max-width: 600px) {

    /* forside */
    .section_frontpage {
        height: 115vw;
    }

    #first_section_frontpage {
        height: 100vw;
    }

    #third_section_frontpage {
        margin-top: -12%;
    }

    /* kunst */

    .art_list {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5%;
        margin-top: 30px;
    }

    .art_item_img_container {
        height: 300px;
    }

    #art_paintings_list {
        margin-bottom: 140px;
    }

    /* detail visning */

    #art_single_section {
        height: 135vw;
    }

    /* Om Jerry Adder */
    #jerry_h1 {
        position: absolute;
        left: 57%;
        top: 30%;
        font-size: 40px;
    }

    #jerry_top_section {
        height: 107vw;

    }

    #jerry_subheadline {
        margin-top: 30px;
    }

    .jerry_h5 {
        font-size: 18px;
        font-size: 2.5vw;
    }

    #jerry_h5_1 {
        margin-top: -17vw;
        width: 65%;
        margin-left: 25%;
    }

    #jerry_h5_2 {
        margin-top: -10px;
        width: 65%;
        margin-left: 25%;
    }
}

@media screen and (max-width: 400px) {

    /* forside */

    .section_frontpage {
        height: 145vw;
    }

    #first_section_frontpage {
        height: 115vw;
    }

    #second_section_frontpage {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    #third_section_frontpage {

        padding-bottom: 50px;
    }

    #fourth_section_frontpage {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    /* kunst */

    .art_item_img_container {
        height: 200px;
    }

    /* detail visning */

    #art_single_section {
        height: 155vw;
    }

    #art_single_list_section {
        padding-bottom: 20px;
    }



}

/* billedebredde er altid 100% medmindre andet er specificeret */

img {
    width: 100%;
}
