/*
font-family: 'Baumans', cursive;
font-family: 'Lora', serif;
*/


/* Global */

/* For all pages */




:root {
    --main-bg-color: white;
    --secondary-bg-color: black;

    /* splitkomplimentære farver */
    --split-turquoise-color: #11505D;
    --split-red-color: #AA4F4F;
    --split-orange-color: #D89C7E;


}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: 'Baumans', cursive;
}

p {
    font-size: 18px;
}

button {
    padding: 15px 40px;
    font-weight: 700;
    font-size: 18px;
    /* denne farve er 100% gennemsigtig*/
    background-color: hsla(290, 60%, 100%, 0);
}


button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}


body {
    margin: 0;
    background: var(--main-bg-color);
    font-family: 'Lora', serif;

}

.hide {
    display: none;
}

.col_container {
    display: flex;
}

.col {
    flex-grow: 1;
    flex-basis: 1px;
    margin: 0 30px;
}

.margin_15 {
    margin: 0 15%;
}


/* Forsiden */

/* Video og videotekst */

#bg_video_section {
    margin-bottom: 12.5%;
    position: relative;
    z-index: 2;
}

#bg_video {
    width: 100%;

}

#front_text_video_section {
    position: relative;
    margin-top: -25%;
    margin-left: 10%;
    font-size: 10vw;
    color: white;
}

#front_text_small_video_section {
    position: relative;
    margin-top: -10%;
    margin-left: 41.5%;
    font-size: 1.1vw;
    color: white;
}

/* generelt for alle sektionerne på forsiden */

.col_big {
    flex-grow: 2;
    flex-basis: 1px;
}

.section_frontpage {
    padding: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_frontpage p {
    font-size: 22px;
}

.section_frontpage h2 {
    font-size: 3vw;
}

.frontpage_button {
    margin-top: 6vw;
}

/* første sektion */

#first_section_frontpage {
    text-align: right;
    position: relative;
    z-index: 5;
    height: 44vw;
    color: var(--main-bg-color);
    /*
    vmin
    vmax
    */
}

#first_section_frontpage button {
    border: 2px solid var(--main-bg-color);
    color: var(--main-bg-color);
}

#second_section_frontpage {
    overflow-y: visible;
    position: relative;
    z-index: 4;
    height: 44vw;
    margin-top: -6vw;
    padding-top: 12vw;
    padding-bottom: 7vw;
    color: var(--split-turquoise-color);

    /*
    vmin
    vmax

    */
}

#second_section_frontpage button {
    border: 2px solid var(--split-turquoise-color);
    color: var(--split-turquoise-color);
}

#second_section_frontpage .col_big {
    margin-left: 15%;
}

#third_section_frontpage {
    overflow-y: visible;
    position: relative;
    text-align: right;
    z-index: 1;
    height: 44vw;
    margin-top: -6vw;
    padding-top: 12vw;
    padding-bottom: 12vw;
    color: var(--split-orange-color);
    /*
    vmin
    vmax

    */
}

#third_section_frontpage button {
    border: 2px solid var(--split-orange-color);
    color: var(--split-orange-color);
    margin-top: 21vw;
    margin-bottom: 6vw;
}

#third_section_frontpage .col_big {
    margin-right: 15%;
}

#fourth_section_frontpage {
    overflow-y: visible;
    position: relative;
    z-index: 1;
    height: 44vw;
    margin-top: 10vw;
    padding-top: 14vw;
    padding-bottom: 0vw;
    color: var(--split-red-color);
    /*
    vmin
    vmax

    */
}

#fourth_section_frontpage button {
    border: 2px solid var(--split-red-color);
    color: var(--split-red-color);

}

/* statisk billede */

#static_image_container {
    position: fixed;
    background-color: var(--secondary-bg-color);
    width: 100%;

}

#static_image {
    /*position: fixed; */
    margin-left: 20%;
    width: 60%;

}

img {
    width: 100%;
}
